#backgroundCover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
}

.popup {
    background: rgb(207, 207, 223);
    padding: 1px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    z-index: 20;
}

.popup-500-500 {
    width: 500px;
    height: 500px;
}


#popupContent {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    background: rgb(238, 240, 243);
}

#popupTopBar {
    display: flex;
    justify-content: flex-end;
}

#popupBody {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


